<%= form_with(model: @investment, class: "w-100") do |form| %>
  <% if @investment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@investment.errors.count, "error") %> prohibited this investment from being saved:</h2>

      <ul>
        <% @investment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :crypto, "Select crypto:", class: "form-label" %>
    <%= form.select :crypto, ['Bitcoin', 'Ethereum', 'XRP', 'Dogecoin', "USD (no crypto)"],
        {}, {class: "form-select form-select-lg mb-3"}  %>
  </div>
  <hr>
  <div class="field">
    <%= form.label :group_id, "Select group:", class: "form-label" %>
    <%= form.select :group_id, Group.select(:name).map(&:name),
        {}, {class: "form-select form-select-lg mb-3"}  %>
  </div>
  <hr>
  <div class="field">
    <%= form.label :amount, "Amount:", class: "form-label" %>
    <%= form.number_field :amount, step: :any, class: "form-control" %>
  </div>

  <div class="link-container position-relative">
    <div class="btn2 btn-outline-green actions d-fixed position-fixed bottom-0 start-50 
          translate-middle-x w-100">
      <%= form.submit class: "btn2 btn-outline-green w-100 border border-white" %>
      </div>
  <div>
<% end %>
