<h1 class="my-5">All investments in the App</h1>

<h2 class="text-center text-muted mb-5">Total USD in investments: <%= total_amount_all %> USD</h2>

<div class="link-container">
<%= link_to 'New Investment', new_investment_path, class: "btn2 btn-outline-green" %>
<div>

<div class="content-investments">
<% @investments.order("created_at DESC").each do |investment|  %>

  <div class="card-investment">
  <%= check_image_by_group_id(investment.group_id) %>

  <h3><%= investment.crypto %></h3>
  <h4>$ <%= investment.amount %></h4>
  </div>

<% end %>
</div>