<div class="d-flex flex-wrap justify-content-between text-muted p-3 bg-white">
    <strong class="my-auto">Total USD invested:</strong>
    <h3 class="fs-3 ms-2"><%= total_amount_all %> USD</h3>
</div>

<div class="link-container position-relative">
  <div class="btn2 btn-outline-green d-fixed position-fixed bottom-0 start-50 
        translate-middle-x w-100">
    <%= link_to 'New Investment', new_investment_path, 
        class: "btn2 btn-outline-green w-100 border border-white" %>
    </div>
<div>

<div class="content-investments">
<% @investments.order("created_at DESC").each do |investment|  %>

<div class="m-3 card-show bg-white p-3 gray_text_medium font-bold max-560 mx-auto">
  <div class="d-flex">
    <%= check_image_by_group_id(investment.group_id) %>
    <div class="fs-6 d-flex align-items-center mx-2">
      <strong>Investment</strong>
    </div>
  </div>
  <hr>
  <strong class="my-2 d-block fs-6">Money unit: <%= investment.crypto %></strong>
  <span class="gray_text_low font-light"> <%= investment.created_at.to_s(:long) %> </span>
  <hr>
  <div class="d-flex flex-wrap justify-content-between">
    <h6 class="my-auto">TOTAL AMOUNT:</h6>
    <strong class="fs-3 ms-2"><%= investment.amount %></strong>
  </div>
</div>

<% end %>
</div>