<p id='alert'><%= alert %></p>
<h1>Login</h1>
<%= form_tag sessions_path do |form| %>
  <div class='field'>
    <%= label_tag :name %>
    <%= text_field_tag :name %>
  </div>

  <div class='actions'>
    <%= submit_tag 'Login' %>
  </div>
<% end %>
