<%= form_with(model: @group) do |form| %>
  <% if @group.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@group.errors.count, "error") %> Prohibited this group from being saved:</h2>

      <ul>
        <% @group.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Name for the new group" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :icon, "Upload an icon for the group" %>
    <%= form.file_field :icon %>
  </div>

  <div class="actions">
    <%= form.submit class: "btn2 btn-outline-green " %>
  </div>
<% end %>
