<div class="m-3 card-show bg-white p-3 gray_text_medium font-bold max-560 mx-auto text-center">
    <div class="d-flex justify-content-center">
      <%= check_image_by_group_id(@group.id) %>
      <div class="fs-6 d-flex align-items-center mx-2">
        <strong><%= @group.name %></h3></strong>
      </div>
    </div>
    <hr>
    <span class="gray_text_low font-light"> <%= @group.created_at.to_s(:long) %> </span>
    <hr>

    <div class="d-flex justify-content-center mt-3">
      <%= link_to 'Edit', edit_group_path(@group), class: "text-muted font-light text-decoration-none mx-2" %> |
      <%= link_to 'Show', @group, class: "text-muted font-light text-decoration-none mx-2" %>
    </div>
  </div>

<h4 class="my-5 text-muted text-center">Group investments:</h4>

<div class="groups-container">

<% @investments.each do |investment|  %>

<div class="m-3 card-show bg-white p-3 gray_text_medium font-bold max-560 mx-auto">
  <div class="d-flex">
    <%= check_image_by_group_id(investment.group_id) %>
    <div class="fs-6 d-flex align-items-center mx-2">
      <strong>Group:
        <%= Group.where(id: investment.group_id).select("name").first["name"] %>
      </strong>
    </div>
  </div>
  <hr>
  <strong class="my-2 d-block fs-6">Money unit: <%= investment.crypto %></strong>
  <span class="gray_text_low font-light"> <%=investment.created_at.to_s(:long) %> </span>
  <hr>
  <div class="d-flex flex-wrap justify-content-between">
    <h6 class="my-auto">TOTAL AMOUNT:</h6>
    <strong class="fs-3 ms-2"><%= investment.amount %></strong>
  </div>
  <% if current_user.id == investment.user_id  %>
    <div class="d-flex justify-content-center mt-3">
      <%= link_to 'Edit', edit_investment_path(investment), class: "text-muted font-light text-decoration-none mx-2" %> |
      <%= link_to 'Show', investment, class: "text-muted font-light text-decoration-none mx-2" %>
    </div>
  <% end %>
</div>

<% end %>

</div>
