<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar, "Upload image profile", class: "form-label d-block text-center text-muted fs-4" %>
    <%= form.file_field :avatar, class: "form-control fs-5 text-muted" %>
  </div>

  <div class="field">
    <%= form.text_field :name, class: "value-input", 
    class: "form-control fs-4 text-muted text-center mt-5", placeholder: "Type your name" %>
  </div>

  <div class="link-container position-relative">
    <div class="btn2 btn-outline-green field d-fixed position-fixed bottom-0 start-50 
          translate-middle-x w-100">
      <%= form.submit class: "btn2 btn-outline-green w-100 border border-white" %>
      </div>
  <div>
<% end %>