<%= form_with(model: @user) do |form| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
        <% @user.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :avatar, "Upload your image profile" %>
    <%= form.file_field :avatar %>
  </div>

  <div class="field">
    <%= form.label :name, "Type your name:" %>
    <%= form.text_field :name, class: "value-input" %>
  </div>

  <div class="field">
    <%= form.submit class: "actions btn2 btn-outline-green" %>
  </div>
<% end %>