<div class="container-md">
  <h1>User Profile</h1>

  <% if current_user.avatar.persisted? %>
    <%= link_to image_tag(current_user.avatar), root_path %>
  <% else %>
    <%= link_to image_tag("http://a4.mzstatic.com/us/r1000/046/Purple/bd/8f/fd/mzl.emkswtfe.jpg"), root_path %>
  <% end %>

  <p class="fs-5 my-3">Hi <%= current_user.name %>!</p>

  <%= link_to "Edit profile", edit_user_path(current_user), class: "d-block text-center" %>


  <div>
    <ul class="links-card">
        <li class="nav-item">
          <%= link_to 'All my portfolio', investments_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'All my external investments', external_investments_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'All portfolios', groups_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to 'Log out', logout_path, class: "nav-link" %>
        </li>
      </ul>
  </div>

</div>